<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Her - OS1 Loading</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/wait.css') }}">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="wrap">
</div>
  <div id="progress" style="top: 27%; font-size:12px;">Your request is being processed</div>
  <div id="progress">Progress: {{ progress }}%</div>
  <p class="info">* Mouse or Finger press on the page to finish loading action.</p>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r77/three.min.js'></script><script src="{{ url_for('static', filename='js/wait.js') }}"></script>
  <script>
    setTimeout(function() {
      window.location.reload(true);
    }, 5000); 
  </script>
</body>
</html>
